.action-sheet-bg-m23x {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
  backface-visibility: hidden;
}
.action-sheet-comp-sheet-m23x {
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fbfbfb;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transform: translate3d(0, 101%, 0);
}
.action-sheet-transition-m23x {
  transition: all 0.3s ease-in-out;
}
.action-sheet-transition-fix-m23x {
  transition: all 0.05s linear;
}
